*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.imagenDestacados{
    width: 100%;
    height: 40%;
}
.copy{
    padding-top: 2%;
}
.ultimo-home{
    padding-top: 3%;
    background-image: url("../img/imgtxt.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: justify;
    justify-content: center;
  
}
.ultimo-home2{
    color: ghostwhite;
    padding: 0 15%;
    padding-bottom: 3%;
}
.centro{
    padding-left: 10%;
}
.destacados{
    text-align: center;
    padding-top: 2%;
}
.in-line{
    display: inline;
}
.derecha{
    justify-content: flex-end;
}
img{
    max-width: 100%;
}
.img-home{
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    
}
.txt-home{
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    text-align: justify;
    font-size: 16px;
}
nav {
    background-color: #21BF86;
    padding: 10px 0;
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 20px;
}
nav a:hover{
    color: red;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.centrar-v {
    align-items: center;
}
.lados {
    justify-content: space-between;
}

.centrar {
    justify-content: center;
}
.navegador{
   display: block;
   margin: auto;
}
.pie{
    padding: 3%;
    background-color: #737373;
    margin-top: 2%;
}

@media (min-width: 576px) {
    .columna {
        flex-direction: row;
        text-align: center;
    }

    .lados {
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .col-3 {
        width: 50%;
    }
    .col-4 {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

@media (min-width: 1200px) {}

.logo{
    width: 30%;
    height: 15%;
    margin-left: 1%;
    margin-top: 1%;
}
.palace{
    width: 60%;
    height: 100%;
}
.botones{
    border: black;
    border-style: solid;
    background-color: chartreuse;
    width: 10%;
}
.iconos{
    width: 10%;
    height: 10%;
    margin-left: 1%;
    margin-right: 4%;
}


ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }

.sobreNosotros{
    background-color: #D9D9D9;
    margin: 1%;
    padding: 3%;
    text-align: justify;
}

.mapa{
    padding-left: 8%;
}

.redes{
    background-color: #D9D9D9;
   padding:3%;
}

.redesDos{
    padding: 3%;
}

.cuadros{
    padding: 2%;
}

.map{
    width: 100%;
    height: 100%;
}